{% extends 'blank.html' %}
{% block content %}
<section class="panel">
                          <header class="panel-heading">
                             Form Elements
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal " method="post" action="{%url 'web_edit' Test_web.pk%}">
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">测试网站</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control round-input" value="{{ Test_web.website }}">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">测试用例</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control round-input" value="{{ Test_web.test_cases }}">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">测试账号</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control round-input" value="{{ Test_web.test_user.user_name }}">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">报告人</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control round-input" value="{{ Test_web.email }}">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">浏览器</label>
                                      <div class="col-sm-10">
                                          <select class="form-control round-input">
                                              <option>{{ Test_web.browser.browser }}</option>
                                              {% for browser in browser_list %}
                                                  {% if browser.browser != Test_web.browser.browser %}
                                                      <option>{{ browser.browser }}</option>
                                                  {% endif %}
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                     <label class="col-sm-2 control-label"></label>
                                     <div class="col-sm-10">
                                         <input type="submit" class="btn btn-info" value="提交">
                                         <input type="button" class="btn btn-success" value="运行">
                                     </div>
                                  </div>

                              </form>
                          </div>
                      </section>
{% endblock %}